.nav-item a{
    list-style: none;
    text-decoration: none;
}


#navbarTogglerDemo01 :hover{
    color: red;
}

.container-fluid a{
    color: blue;
}

.navbar-brand{
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

.navbar-brand span{
    color: red;
}

.pic{
    background-image: url(Thiebou.JPG);
    background-size: cover;
    padding-bottom: 20px;
    border-top:5px solid red ;
    border-bottom: 15px solid red ;
}

.pic h4{
    text-align: center;
    
}
.pic h4 a{
    margin: 20px;
}

.reservation-btn {
    background-color: #ff5733;
    color: red;
    font-weight: bold;
    }
.reservation-btn:hover {
    background-color: #c44123;
    color: blue;
    }
