
.nav-item a{
    list-style: none;
    text-decoration: none;
}

.nav-item a:hover{
    color: red;
    
}

.pic{
    background-image:linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)),url(Thiebou.JPG);
    padding-bottom: 50px;
    background-size: cover;
}

.pic h4{
    text-align: center;
}

.pic h4 a{
    margin: 30px auto;

}

span{
    color: red;
}


.navbar-brand{
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container-fluid a{
    color: blue;
}

.reservation-btn {
    background-color: #ff5733;
    color: red;
    font-weight: bold;
    }
.reservation-btn:hover {
    background-color: blue;
    color: blue;
    }